// -----------------------------------------------------------------------------
// INITIAL FONT SIZE
// -----------------------------------------------------------------------------
$initial-font-size: 10px;
$mobile-font-size: 10px;

// -----------------------------------------------------------------------------
// ELEMENTS DEFAULT MAX WIDTH
// -----------------------------------------------------------------------------
$default-width-center-percent: 90%;
$default-max-width: 1366px;

// -----------------------------------------------------------------------------
// FONT FAMILIES
// -----------------------------------------------------------------------------
$primary-font-family: "HelveticaNeueLTStd";
$secondary-font-family: "DroidKufi";

// -----------------------------------------------------------------------------
// MAIN COLORS
// -----------------------------------------------------------------------------
$primary-color: #274693;
$primary-color-dark: #1d3570;
$secondary-color: #ca0205;
$secondary-color-light: #fddcdc;
$separator-color: #f7f7f7;
$top-bar-color: #e9ecf4;

// -----------------------------------------------------------------------------
// TEXT COLOR
// -----------------------------------------------------------------------------
$text-color: #555555;